.background--grey { background-color:#e9e8e6; }
.background--light-grey { background-color: #f8f9f7; }
.background--off-white { background-color: #fdfdfc; }

.body{ 
    padding: 0px;
    margin: 0px;
    font-family: 'Calibri';
    color: #7d7a7a;
    font-size: 1rem;
}

.fs-height { height: 100vh;}

